@{
    ViewData["Title"] = "Pagina inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem vindo ao meu projeto de cadastro</h1>
    <p>Para onde você deseja ser direcionado ?</p> 

    <div class="btn-group" role="group" aria-label="Basic example">
        <a type="button" class="btn btn-primary" asp-controller="Contato" asp-action="Create">Adicionar Contatos</a>

        <a type="button" class="btn btn-secondary" asp-controller="Contato" asp-action="Index">Lista de contatos</a>
    </div>
</div>
